body {
  text-align: center;
  background: #B388FF;
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.valueCard {
  padding: 10px;
  border-radius: 3px;
  background: #512DA8;
  display: inline-block;
}

#clockdiv .valueCard span {
  padding: 15px;
  border-radius: 3px;
  background: #7E57C2;
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  width: 50px;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.controls {
  margin-top: 10px;
  border-radius: 3px;
  background: #512DA8;
}

.controls button {
  width: 75px;
  border-radius: 3px;
  margin: 3px;
  padding: 10px;
  background: #7E57C2;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.controls button:hover {
  background: #B39DDB;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* Tabs */

.tabs-control-item {
  display: inline-block;
  margin-left: 10px;
  background: #2c3e50;
}

.tabs-control-item:hover, .tabs-control-item .active {
  background: #2ecc71
}

.tabs-control-item:first-child {
  margin-left: 0;
}

.tabs-control-link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 3px 7px;
}

.tabs-list {
  border: 1px dashed #cccccc;
}

.tabs-item {
  list-style: none outside none;
  display: none;
}

.tabs-item.active {
  display: block;
}
