<!DOCTYPE html5>
<html ng-app="timerApp">
  <head>
    <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Timer</title>
  </head>
  <body ng-cloak ng-controller="TimerController">
    <div id="clockdiv">
      <div class="valueCard">
        <i class="fa fa-angle-up" aria-hidden="true" ng-click="editValue('hours', 1)"></i><br>
        <span class="hours">{{hours | numberFixedLen: 2}}</span><br>
        <i class="fa fa-angle-down" aria-hidden="true" ng-click="editValue('hours', -1)"></i>
        <div class="smalltext">Hours</div>
      </div>
      <div class="valueCard">
        <i class="fa fa-angle-up" aria-hidden="true" ng-click="editValue('minutes', 1)"></i><br>
        <span class="minutes">{{minutes | numberFixedLen: 2}}</span><br>
        <i class="fa fa-angle-down" aria-hidden="true" ng-click="editValue('minutes', -1)"></i>
        <div class="smalltext">Minutes</div>
      </div>
      <div class="valueCard">
        <i class="fa fa-angle-up" aria-hidden="true" ng-click="editValue('seconds', 1)"></i><br>
        <span class="seconds">{{seconds | numberFixedLen: 2}}</span><br>
        <i class="fa fa-angle-down" aria-hidden="true" ng-click="editValue('seconds', -1)"></i>
        <div class="smalltext">Seconds</div>
      </div>
      <div class="controls">
        <button ng-click="toggleClock()">{{ isRunning ? 'Pause' : 'Start' }}</button>
        <button ng-click="resetClock()">Reset</button>
      </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
